@import '../../assets/styles/variable.scss';
.tags{
    margin: .5em 0;
    padding: 1em 0;
    span{
        padding: .25em 2em;
        margin: 1em;
        background-color: $primary-color;
        border-radius: 1em;
        color: $secondary-color;
    }
    :first-child{
        margin-left: 0;
    }
}
