.about{
    margin: 1.5em 0;
    width: 100%;
    place-items: center;
    .about-dropdown{
        width: 90%;
        @media (max-width:769px) {
            width: 100%;
            font-size: .75em;
        }
    }
}