@import '../../assets/styles/variable.scss';
.rating{
    text-align: right;
    place-content: center;
    i{
        color: $secondary-bg;
    }
    i.active{
            color: $primary-color;
    }
}
