@import '../../assets/styles/variable.scss';
.rating{
    text-align: right;
    margin: 1em 0;
    i{
        color: $secondary-bg;
        padding-left: .5em;
    }
    i.active{
            color: $primary-color;
    }
}
