@import 'variable.scss';
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-color;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
}
h1{
  font-size: 2.5em;
  color: $primary-color;
}
h2{
  font-weight:1.5em ;
}
