.banner-home {
    border: 1px solid black;
    img{
        width: 1240px;
        height: 223px;
        object-fit: cover;
    }
}
.banner-about {
    border: 1px solid black;

    img {
        width: 1240px;
        height: 223px;
        object-fit: cover;
    }
    h1{
        display: none;
    }
}