@use '../../assets/styles/colors' as *;
.banner-home, .banner-about {
    position: relative;
    border-radius: 1.5em;
    width: 100%;
    height: 223px;
    overflow: hidden;
    @media (max-width:769px) {
        border-radius: .5em;
        height: 110px;
    }
    img{
        width: 100%;
        height: 223px;
        border-radius: inherit;
        object-fit: cover;
    }
}
.banner-home {
    h1{
        color: $secondary-color;
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        top: 0px;
        background: $opacity;
        place-content: center;
        text-align: center;
        @media (max-width:769px) {
            text-align: left;
            padding-left: 1em;
            width: 95%;
            font-size: 1.25em;
        }
    }
}
.banner-about {
    h1{
        display: none;
    }
}