@use '../../assets/styles/colors' as *;
.lodging{
    margin: 2em 0;
    width: 100%;
    .detail{
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        .detail-headers{
            width: 80%;
        }
        h1{
            font-weight: 500;
            margin-bottom: 0;
        }
        .gallery{
            width: 100%;
        }
        .location{
            padding: 0;
            margin: 0;
        }
        .host-rating {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: right;
            img{
               width: 64px;
               height: 64px;
               border-radius: 4em;
           }
           p{
                margin: 0;
                padding-right: .15em;
                color: $primary-color;
                place-content: center;
           }
           .host{
            display: flex;
           }
        }
    }
    .lodging-dropdown{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        >div{
            width: 47%;
        }
    }
    @media (max-width:769px) {
        padding: 0;
        margin-top: 0;
        .detail{
            flex-wrap: wrap;
            .detail-headers{
                width: 100%;
            }
            .host-rating{
                flex-direction: row-reverse;
                width: 100%;
                justify-content: space-between;
                font-size: .75em;
                place-items: center;
            }
        }
        .lodging-dropdown{
            flex-direction: column;
            >div{
                width: 100%;
                font-size: .75em;
            }
        }
    }
}
